# Ignore all log files in any directory
**/*.log

# Ignore all pyc files in any directory
**/*.pyc

# Ignore all JSON files in any directory
**/*.json

# Ignore Deploy.sh
Deploy.sh

# Ignore fn
Future_nature.scatterbox.dev

# Ignore file_storage
file_storage.scatterbox.dev

# ignore battle_db
gelblast.scatterbox.dev/instance